$width: 980px;
$idents: 10px;


$header_color: #dcdcdc;
$main_color: #777777;
$buy_bkg_color: #6e6e6e;
$hr_color: #3b3b3b;
$white: white;
$black: #222222;
$price-color: $black;
$featback_color: rgba(83, 83, 83, 255);