body {
    font-family: 'PT Sans', sans-serif;;
    font-size: 14pt;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white;
}
html, body {
    height: 100%;
    width: 100%;
}
html, body, h3, p, h2, ul {
    margin: 0;
    padding: 0;
}
a {
    color:$white;
}