.content {
    display: flex;
    @include WTOC();
    padding-top: 26px;
    margin-bottom: auto;
    &-nav {
        background-color: $main_color;
        display: block;
        width: 350px;
        min-height: 560px;
        padding-top: 30px;
        padding-left: 36px;
        h3 {
            font-size: 35pt;
            margin-bottom: 10px;
        }
        ul {
            padding: 0;
            width: 265px;
            li {
                list-style: none;
                padding: 15px 0;
                p {
                    font-size: 10pt;
                    font-weight: bold;
                    span {
                        display: block;
                        font-style: italic;
                        font-weight: normal;
                    }
                }
                a {
                    float: right;
                }
            }
        }
    }
    &-content {
        width: 569px;
        margin-left: 59px;
        color: $main_color;
        h2 {
            margin: 20px 0;
            font-size: 25pt;
            font-style: normal;
        }
        p {
            margin: 20px 0;
            font-size: 10pt;
            text-align: justify;
            text-justify: inter-word;
        }
    }
}