.content {
    display: block;
    @include WTOC();
    padding-top: 30px;
    // font-family: PTSans-Bold, AdobeInvisFont, MyriadPro-Regular;
    &-nav {
        background-color: $main_color;
        width: 350px;
        min-height: 560px;
        padding-top: 30px;
        padding-left: 36px;
        color: $white;
        h3 {
            font-size: 40pt;
        }
        ul {
            padding: 0;
            width: 265px;
            li {
                list-style: none;
                padding: 18px 0;
                p {
                    font-size: 12pt;
                    span {
                        display: block;
                    }
                }
                a {
                    // text-decoration: none;
                    color: $white;
                    text-align: right;
                    float: right;
                }
            }
        }
    }
}