.content {
    display: flex;
    @include WTOC();
    padding-top: 26px;
    margin-bottom: auto;
    &-nav {
        color: $main_color;
        display: block;
        width: 178px;
        min-height: 560px;
        padding-top: 30px;
        overflow: hidden;
        ul {
            li {
                &.select {
                    text-decoration: underline;
                }
                & ul {
                    text-decoration: none;
                    list-style-type: disc;
                    li {
                        text-decoration: none;
                        font-size: 0.7em;
                        margin-left: 25px;
                        &.select {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        &--link {
            margin-top: 110px;
            margin-left: 15px;
            img {
                margin-left: 25px;
            }
            a.price-list {
                // text-align: center;
                color: $black;
                font-weight: bold;
                font-size: 23pt;
                text-decoration: none;
            }
        }
    }
    &-content {
        width: 569px;
        margin-left: 59px;
        color: $main_color;
        h2 {
            margin: 20px 0;
            font-size: 25pt;
            font-style: normal;
        }
        p {
            margin: 20px 0;
            font-size: 10pt;
            text-align: justify;
            text-justify: inter-word;
        }
    }
}