.menu {
    background-color: $main_color;
    margin: 0;
    padding: 0 $idents;
    font-size: 20pt;
    &-links {
        @include WTOC();
        padding: 27px 0;
    
        a {
            text-decoration: none;
            color: $white;

            &:hover {
                text-decoration-line: underline;
            }
        }
        ul {
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            li:after {
                color: $white;
                content: '\00a0|\00a0';
            }
            li.last:after {
                color: $white;
                content: '';
            }
        }
    }
}