.menu {
    background-color: $main_color;
    margin: 0;
    padding: 0 $idents;
    font-size: 25pt;
    &-links {
        @include WTOC();
        padding: 27px 0;
    
        a {
            text-decoration: none;

            &:hover {
                text-decoration-line: underline;
            }
        }
        ul {
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            li:after {
                content: '\00a0|\00a0';
            }
            li.last:after {
                content: '';
            }
        }
    }
}